{% extends 'homebase.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}

    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><i class="m-icon-big-swapright m-icon-white"></i> About us</h3>
                    </div>
                    <div class="span4">
                        <div class="input-append">
                            <form class="form-search">
                                <input type="text" class="input-medium search-query">
                                <button type="submit" class="btn btn-inverse">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span3">


                </div>
                <div class="span6">

                    {{data.aboutus | raw}}
                </div>
                <div class="span3">


                </div>
            </div>
        </div>
    </section>

{% endblock %}

