{% extends 'adminbase.html.twig' %}

{% block title %}House index{% endblock %}

{% block body %}

    <div class="span9">
        <div class="content">
            <div class="module">
                <div class="module-head">
                    <h3>
                        Edit Messages
                    </h3>
                </div>
                <div class="module-body">


                    {{ include('admin/messages/_form.html.twig', {'button_label': 'Update'}) }}



                </div>

            </div>
        </div>
    </div><!--/.content-->
    </div><!--/.span9-->
    </div>
    </div>
    <!--/.container-->
    </div>
    <!--/.wrapper-->
{% endblock %}


