{% extends 'adminbase.html.twig' %}

{% block title %}Hello {{ controller_name }}{% endblock %}

{% block body %}
	<div class="span9">
		<div class="content">

			<div class="module message">
				<div class="module-head">
					<h3>Admin Page Welcome!</h3>
				</div>

				<div class="module-body table">


				</div>
				<div class="module-foot">

				</div>
			</div>

		</div>
		<!--/.content-->
	</div>
	<!--/.span9-->
	</div>
	</div>
	<!--/.container-->
	</div>
	<!--/.wrapper-->

{% endblock %}
