{% extends 'adminbase.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
	<div class="span9">
		<div class="content">

			<div class="module message">
				<div class="module-head">
					<h3>Category Edit Page</h3>
				</div>

				<div class="module-body">

                    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

				</div>
				<div class="module-foot">
				</div>
			</div>

		</div>
		<!--/.content-->
	</div>
	<!--/.span9-->
	</div>
	</div>
	<!--/.container-->
	</div>
	<!--/.wrapper-->
{% endblock %}
