{% extends 'adminbase.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
	<div class="span9">
		<div class="content">

			<div class="module message">
				<div class="module-head">
					<h3>Create New Category</h3>
				</div>

				<div class="module-body table">

                    {{ include('admin/category/_form.html.twig') }}
				</div>
				<div class="module-foot">
				</div>
			</div>

		</div>
		<!--/.content-->
	</div>
	<!--/.span9-->
	</div>
	</div>
	<!--/.container-->
	</div>
	<!--/.wrapper-->

{% endblock %}
