{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}


{% block body %}
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><i class="m-icon-big-swapright m-icon-white"></i> Overview</h3>
                        <p>Overview of the template, its contents, and how to get started with scaffold template.</p>
                    </div>
                    <div class="span4">
                        <div class="input-append">
                            <form class="form-search">
                                <input type="text" class="input-medium search-query">
                                <button type="submit" class="btn btn-inverse">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ('user/usermenu.html.twig') %}

    <section id="general-template" class="doc">

        <h1>{{ app.user.name }} PROFILE EDIT</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    </section>
    </div>
    </div>
    </div>



{% endblock %}

